footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    text-align: center;
    font-size: clamp(12px,0.94vw,18px);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.socialsLinks a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .socialsLinks a:hover {
    text-decoration: underline;
  }