header {
    padding: 20px 0px;
    color: white;
    text-align: center;
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    display: flex;
    gap: 100px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 35%;
    transform: translateX(-50%); 
    height: 4px;
    background-color: #61dafb;
    /* Definir el estado inicial (oculto y 0 de ancho) */
    width: 0; 
    opacity: 0;
    transition: width 0.3s ease-out, opacity 0.3s ease-out;
}

.nav a:hover::after {
    width: 75%; 
    opacity: 1; 
}