.skillsSection {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
}

.sectionTitle {
    font-size: clamp(2rem, 4vw, 3.5rem);
    color: white;
    margin-bottom: 15px;
    font-family: var(--font-title);
    text-transform: uppercase;
    font-weight: 700;
}

.accent {
    color: var(--color-accent);
}

.text {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    color: rgba(255, 255, 255, 0.6);
    max-width: 600px;
}

.bentoGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    width: 100%;
}

.cardSkill {
    position: relative;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    flex: 1 1 300px; /* Permite que crezcan pero intenten mantenerse juntas */
    transition: all 0.3s ease;
}

.cardSkill:hover {
    transform: scale(1.03);
    border-color: var(--color-accent);
    background: rgba(0, 255, 242, 0.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4), 
                0 0 20px rgba(0, 255, 242, 0.1);
}

.titleCard {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.skillItem {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.05);
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.2s;
}

.skillItem:hover {
    background: rgba(0, 255, 242, 0.15);
}

.iconBox {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillItem:hover .iconBox {
    background: rgba(0, 255, 242, 0.2);
    box-shadow: 0 0 15px rgba(0, 255, 242, 0.3);
}

.iconBox img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.skillItem span {
    font-size: 0.8rem;
    white-space: nowrap;
}

/* Responsivo */
@media (max-width: 768px) {
    .bentoGrid {
        grid-template-columns: 1fr;
    }
    
    .cardSkill {
        flex: 1 1 100%; /* En móviles ocupan todo el ancho */
        max-width: none;
    }
}